
<form nz-form [formGroup]="formGroup">
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="position">职位名称</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="请输入职位名称" formControlName="position" id="position">
          <nz-form-explain *ngIf="formGroup.get('position').dirty && formGroup.get('position').hasError('required')">请输入职位名称！</nz-form-explain>
          <nz-form-explain *ngIf="formGroup.get('position').dirty && formGroup.get('position').hasError('duplicated')">该职位名称已存在</nz-form-explain>
          <nz-form-explain *ngIf="formGroup.get('position').dirty && formGroup.get('position').pending">
            <i nz-icon nzType="loading"></i>正在校验职位名称是否存在...</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired>职务</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="role" nzPlaceHolder="请选择职务">
            <nz-option nzLabel="店长" [nzValue]="1"></nz-option>
            <nz-option nzLabel="销售" [nzValue]="2"></nz-option>
            <nz-option nzLabel="主管" [nzValue]="3"></nz-option>
            <nz-option nzLabel="水育师" [nzValue]="4"></nz-option>              
          </nz-select>
          <nz-form-explain *ngIf="formGroup.get('role').dirty && formGroup.get('role').hasError('required')">请选择职位！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="salary">底薪</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="请输入底薪" formControlName="salary" id="salary">
          <nz-form-explain *ngIf="formGroup.get('salary').dirty && formGroup.get('salary').hasError('required')">请输入底薪！</nz-form-explain>
          <nz-form-explain *ngIf="formGroup.get('salary').dirty && formGroup.get('salary').hasError('pattern')">请输入正确的底薪！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">          
      <nz-form-item>
        <nz-form-label nzRequired>级别</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="starLevel" nzPlaceHolder="请选择级别">
            <nz-option nzLabel="一星(初级)" [nzValue]="1"></nz-option>
            <nz-option nzLabel="二星(中级)" [nzValue]="2"></nz-option>
            <nz-option nzLabel="三星(高级)" [nzValue]="3"></nz-option>              
          </nz-select>
          <nz-form-explain *ngIf="formGroup.get('starLevel').dirty && formGroup.get('starLevel').hasError('required')">请选择级别！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label nzFor="comment">职位描述</nz-form-label>
        <nz-form-control>
          <textarea nz-input placeholder="请输入职位描述" formControlName="comment" id="comment" [nzAutosize]="{ minRows: 4, maxRows: 4 }"></textarea>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>

<div class="drawer-footer">
  <button nz-button (click)="close()">取消</button>
  <button nz-button nzType="primary" [nzLoading]="saveLoading" (click)="save()">保存</button>
</div>