<div class="container">
  <ea-query-simp [node]="[{label: '社区名称', key: 'name', type: 'input'}]" title="社区管理" (onSubmit)="table.request($event)"></ea-query-simp>

  <button nz-button nzType="dashed" style="width: 100%; margin-bottom: 24px;" (click)="update()"><i class="anticon anticon-plus"></i>新增社区</button>

  <ea-table 
    #table 
    url="/community/getStoreCommunityList" 
    [thead]="['社区名称','操 作']"
    [EaTableTbodyTr]="EaTableTbodyTr">
    <ng-template let-data #EaTableTbodyTr>
      <td>{{ data.name }}</td>
      <td>
        <a (click)="update(data)">编辑</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a nz-popconfirm nzTitle="确定要删除吗?" (nzOnConfirm)="delete(data.id)">删除</a>
      </td>
    </ng-template>
  </ea-table>
</div>

<ng-template #drawerTemplate let-data let-drawerRef="drawerRef">
  <form nz-form [formGroup]="formGroup">
    <div nz-row nzGutter="8">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="name">社区名称</nz-form-label>
          <nz-form-control>
            <input nz-input placeholder="请输入社区名称" formControlName="name" id="name">
            <nz-form-explain *ngIf="formGroup.get('name').dirty && formGroup.get('name').hasError('required')">请输入社区名称！</nz-form-explain>
            <nz-form-explain *ngIf="formGroup.get('name').dirty && formGroup.get('name').hasError('duplicated')">该社区名称已存在</nz-form-explain>
            <nz-form-explain *ngIf="formGroup.get('name').dirty && formGroup.get('name').pending">
              <i class="anticon anticon-spin anticon-loading"></i>正在校验社区名称是否存在...</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
  <div class="footer">
    <button nz-button (click)="drawerRef.close()">取消</button>
    <button nz-button nzType="primary" [nzLoading]="saveLoading" (click)="save(drawerRef)">保存</button>
  </div>
</ng-template>