<div class="container">
  <ea-list-page 
    #listPage
    url="/yeqs/consumeSatisfaction/getSatisfactionRecordList"
    [allowSpace]="false"
    [queryNode]="queryNode"
    [tableThead]="[ '消费ID', '会员卡号', '会员姓名', '消费金额', '消费时间', '消费商品','结算方式' ,'主教老师', '操作人', '第几次', '修改时间', '改前', '改后', '修改原因' ]"
    [EaTableTbodyTr]="EaTableTbodyTr">
    <ng-template let-data #EaTableTbodyTr>
      <td>{{ data.consumeId }}</td>
      <td>{{ data.cardCode }}</td>
      <td>{{ data.memberName }}</td>
      <td>{{ data.consumption }}</td>
      <td>{{ data.consumeDate }}</td>
      <td>{{ data.commodityName }}</td>
      <td>{{ data.leaveStatus == 0 ? '正常结算' : data.leaveStatus == 1 ? '缺课结算' :  data.leaveStatus == 2 ? '补课结算' : data.leaveStatus == 3 ? '补课缺课' : ''}}</td>
      <td><button nz-button nzType="primary" nzSize="small" (click)="teacherDetail(data)"><i
        class="anticon anticon-eye-o"></i>认领</button></td>
      <td>{{ data.operatorName }}</td>
      <td>{{ data.times }}</td>
      <td>{{ data.createTime }}</td>
      <td>{{ data.originalSatisfaction }}</td>
      <td>{{ data.satisfaction }}</td>
      <td>{{ data.remarks }}</td>
    </ng-template>
  </ea-list-page>

  <ng-template #drawerTemplate let-data let-drawerRef="drawerRef">
    <form nz-form [formGroup]="baseFormGroup">
      <div nz-row nzGutter="8">
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired>授课老师</nz-form-label>
            <nz-form-control>
              <nz-select formControlName="swimTeacherId" nzDisabled nzPlaceHolder="请选择授课老师">
                <nz-option *ngFor="let option of teacherList" [nzLabel]="option.name" [nzValue]="option.id"></nz-option>
              </nz-select>
              <nz-form-explain
                *ngIf="baseFormGroup.get('swimTeacherId').dirty && baseFormGroup.get('swimTeacherId').hasError('required')">
                请选择授课老师！</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired>助教老师</nz-form-label>
            <nz-form-control>
              <nz-select formControlName="assisTeacherId" nzDisabled nzPlaceHolder="请选择助教老师">
                <nz-option *ngFor="let option of teacherList" [nzLabel]="option.name" [nzValue]="option.id"></nz-option>
              </nz-select>
              <nz-form-explain
                *ngIf="baseFormGroup.get('assisTeacherId').dirty && baseFormGroup.get('assisTeacherId').hasError('required')">
                请选择授课老师！</nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>


      <div nz-row nzGutter="8">

        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label>洗澡老师</nz-form-label>
            <nz-form-control>
              <nz-select formControlName="showerTeacherId" nzDisabled [nzAllowClear]="true" nzPlaceHolder="请选择洗澡老师">
                <nz-option *ngFor="let option of teacherList" [nzLabel]="option.name" [nzValue]="option.id"></nz-option>
              </nz-select>
              <!-- <nz-form-explain *ngIf="timesCountGroup.get('showerTeacherId').dirty && timesCountGroup.get('showerTeacherId').hasError('required')">请选择洗澡老师！</nz-form-explain> -->
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label>体适能老师</nz-form-label>
            <nz-form-control> 
              <nz-select formControlName="fitnessTeacherId" nzDisabled [nzAllowClear]="true" nzPlaceHolder="请选择体适能老师">
                <nz-option *ngFor="let option of teacherList" [nzLabel]="option.name" [nzValue]="option.id"></nz-option>
              </nz-select>
              <!-- <nz-form-explain *ngIf="timesCountGroup.get('assisTeacherId').dirty && timesCountGroup.get('assisTeacherId').hasError('required')">请选择助教老师！</nz-form-explain> -->
            </nz-form-control>
          </nz-form-item>
        </div>

      </div>
      <div class="footer">
        <button nz-button (click)="drawerRef.close()">取消</button>
        <button nz-button nzType="primary" [nzLoading]="saveLoading" (click)="save(drawerRef)">保存</button>
      </div>
    </form>

  </ng-template>

</div>