.ea-tip {
  padding: 8px 48px 8px 38px;
  color: rgba($color: #000, $alpha: .65);
  font-size: 12px;
  line-height: 1.5;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  position: relative;
  transition: all .25s;
  overflow: hidden;
  margin-bottom: 16px;
  &.hide {
    padding: 0;
    height: 0;
    opacity: 0;
    margin-bottom: 0;
    visibility: hidden;
  }

  .type-icon {
    font-size: 14px;
    top: 10px;
    left: 16px;
    position: absolute;
  }

  .close-button {
    display: block;
    height: 12px;
    font-size: 12px;
    line-height: 12px;
    position: absolute;
    top: 12px;
    right: 16px;

    &:hover i {
        color: #404040;
    }
    i {
        color: rgba(0,0,0,.43);
        -webkit-transition: color .3s ease;
        transition: color .3s ease;
    }
  }

  &.success {
    border-color: #cfefdf;
    background-color: #ebf8f2;
    .type-icon {
        color: #00a854
    }
  }
  &.info {
    border-color: #D3EAFF;
    background-color: #ecf6fd;
    .type-icon {
        color: #108ee9
    }
  }
  &.warning {
    border-color: #fff3cf;
    background-color: #fffaeb;
    .type-icon {
        color: #ffbf00
    }
  }
  &.error {
    border-color: #fcdbd9;
    background-color: #fef0ef;
    .type-icon {
        color: #f04134
    }
  }
}