<div class="ea-tip" 
  [ngClass]="[type, isShow ? '' : 'hide']"
  [style.padding-left]="showIcon ? '38px' : '16px'">
  <i class="type-icon anticon" 
    *ngIf="showIcon"
    [ngClass]="[ type === 'success'                    ? 'anticon-check-circle' : 
                 type === 'info' || type === 'success' ? 'anticon-exclamation-circle' : 
                                                         'anticon-close-circle' ]"></i>
  <ng-content></ng-content>

  <a href="javascript: void(0)" *ngIf="showClose" class="close-button" (click)="_close()"><i class="anticon anticon-close"></i></a>
</div>