<div class="ui-menu">
  <div class="menu-box">

    <div class="ui-logo">
      <img [src]="logoPath || './assets/images/logo-menu.png'">
    </div>


    <ul class="menu-one">
      <li [routerLink]="'/home/index'"
        [ngClass]="{ active: (routerState.currentPath.indexOf('/home/index') > -1) || (routerState.currentPath == '/home/index')|| (!routerState.currentMenu)}">
        <span><i nz-icon [type]="'home'"></i><span>首页</span></span>
      </li>
      <ng-container *ngFor="let item of menuConfig">
        <ng-container *ngIf="roleAllowPath.indexOf(item.key) > -1 || roleAllowPath.indexOf('**') > -1">
          <ng-container *ngIf="item.isLeaf && item.key != '/home/index'">
            <li [routerLink]="item.key"
              [ngClass]="{ active: (routerState.currentPath.indexOf(item.key) > -1 && item.key != '/home/index') || (routerState.currentPath == '/home/index' && item.key == '/home/index')|| (!routerState.currentMenu && item.key == '/home/index')}">
              <span>
                <i nz-icon [type]="item.icon"></i>
                <span>{{ item.brief }}</span>
              </span>
            </li>
          </ng-container>
          <ng-container *ngIf="!item.isLeaf">
            <li [routerLink]="item.children[0].key"
              [ngClass]="{ active: (routerState.currentPath.indexOf(item.key) > -1 && item.key != '/home/index') || (routerState.currentPath == '/home/index' && item.key == '/home/index')}">
              <span>
                <i nz-icon [type]="item.icon"></i>
                <span>{{ item.brief }}</span>
              </span>
            </li>
            <ng-container>
              <div class="menu-two" *ngIf="(routerState.currentPath.indexOf(item.key) > -1 && item.key != '/home/index') || (routerState.currentPath == '/home/index' && item.key == '/home/index')">
                <div class="menu-two-title">{{ item.title }}</div>
                <ul class="menu-two-list">
                  <ng-container *ngFor="let itemB of item.children">
                    <li *ngIf="roleAllowPath.indexOf(itemB.key) > -1 || roleAllowPath.indexOf('**') > -1" [routerLink]="itemB.key"
                      [ngClass]="{'active': routerState.currentPath.indexOf(itemB.key) > -1}">{{ itemB.title }}</li>
                  </ng-container>
                </ul>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </ul>
  </div>
</div>