<div class="ui-menu">
  <div class="ui-logo">
    <img src="./assets/images/logo-header.png" alt="logo" [ngStyle]="{'margin-left': '24px'}" [title]="userInfo.store['shopName']">
    <span [style.font-size]="shopNameFontSize + 'px'" [ngClass]="{'active': isCollapsed}">{{ userInfo.store['shopName'] }}</span>
  </div>
  <ul nz-menu [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed" nzTheme='dark'>
    <ng-container *ngFor="let item of menuConfig">
      <ng-container *ngIf="roleAllowPath.indexOf(item.key) > -1">
        <ng-container *ngIf="item.isLeaf">
          <li nz-menu-item [routerLink]="[item.key]" [nzSelected]="routerState.currentPath == item.key">
            <span title>
              <i class="anticon" [ngClass]="[item.icon]"></i>
              <span>{{ item.title }}</span>
            </span>
          </li>
        </ng-container>
        <ng-container *ngIf="!item.isLeaf && item.children">
          <li nz-submenu [nzOpen]="routerState.currentPath.indexOf(item.key) > -1">
            <span title>
              <i class="anticon" [ngClass]="[item.icon]"></i>
              <span>{{ item.title }}</span>
            </span>
            <ul>
              <ng-container *ngFor="let cdItem of item.children">
                <ng-container *ngIf="cdItem.isLeaf">
                  <li *ngIf="roleAllowPath.indexOf(cdItem.key) > -1" nz-menu-item [routerLink]="[cdItem.key]" [nzSelected]="routerState.currentPath.split('?')[0] == cdItem.key">
                    <span>{{ cdItem.title }}</span>
                  </li>
                </ng-container>
                <ng-container *ngIf="!cdItem.isLeaf && cdItem.children">
                  <li nz-submenu *ngIf="roleAllowPath.indexOf(cdItem.key) > -1">
                    <span title>{{ cdItem.title }}</span>
                    <ul>
                      <ng-container *ngFor="let twoItem of cdItem.children">
                        <li nz-menu-item [routerLink]="[twoItem.key]" [nzSelected]="routerState.currentPath.split('?')[0] == twoItem.key">{{ twoItem.title }}</li>
                      </ng-container>
                    </ul>
                  </li>
                </ng-container>
              </ng-container>
            </ul>
          </li>
        </ng-container>
      </ng-container>
    </ng-container>
  </ul>
</div>