.ui-logo{
  height: 64px;
  line-height: 64px;
  background: #002140;
  overflow: hidden;
  white-space: nowrap;
  & > img{
    height: 32px;
    margin-left: 26px;
    margin-top: 16px;
    vertical-align: top;
    transition: all .2s;
  }
  & > span {
    display: inline-block;
    color: #fff;
    font-size: 24px;
    margin-left: 8px;
    opacity: 1;
    visibility: visible;
    transform: none;
    transition: all .3s;
    &.active {
      opacity: 0;
      visibility: hidden;
      transform: translate3d(-10px, 0, 0);
    }
  }
}

:host ::ng-deep {
  span {
    font-size: 14px;
  }
  .ant-menu.ant-menu-root {
    background: #001529;
  }

  .ant-menu.ant-menu-sub.ng-star-inserted{
    background: #000c17;
  }
  .ant-menu-item{
    outline: none;
  }
}