<ea-title>业绩目标</ea-title>

<div class="not-target" *ngIf="!showInfo">
  <h2>您还没制定业绩目标，现在开始吧~</h2>
  <button nz-button nzType="primary" routerLink="/home/humanresources/achievements/target">制定业绩目标</button>
</div>

<div nz-row class="profit container" *ngIf="showInfo">
  <div nz-col [nzSpan]="8">
    <span>本月收入目标(元)</span>
    <p>{{ managementInfo.incomeGogal?.expectTotalIncome }}</p>
  </div>
  <div nz-col [nzSpan]="8">
    <span>本月累计收入(元)</span>
    <p>{{ managementInfo.actualShopIncome }}</p>
  </div>
  <div nz-col [nzSpan]="8">
    <button nz-button nzType="primary" routerLink="/home/humanresources/achievements/target">调整目标</button>
  </div>
</div>

<div class="container" *ngIf="showInfo">

  <ea-quote>完成进度</ea-quote>

  <div nz-row>
    <div nz-col [nzSpan]="6" class="target">
      <nz-progress
        [nzPercent]="managementInfo.actualClueNum / managementInfo.incomeGogal?.expectClueNum * 100 | math: 'ceil'"
        [nzWidth]="80" nzType="circle"></nz-progress>
      <p>新增线索</p>
      <h2>{{ managementInfo.actualClueNum }}/{{ managementInfo.incomeGogal?.expectClueNum }}<span>条线索</span>
      </h2>
    </div>
    <div nz-col [nzSpan]="6" class="target">
      <nz-progress
        [nzPercent]="managementInfo.actualExperienceCard / managementInfo.incomeGogal?.expectExperienceNum * 100 | math: 'ceil'"
        [nzWidth]="80" nzType="circle"></nz-progress>
      <p>卖体验卡</p>
      <h2>
        {{ managementInfo.actualExperienceCard }}/{{ managementInfo.incomeGogal?.expectExperienceNum }}<span>张体验卡</span>
      </h2>
    </div>
    <div nz-col [nzSpan]="6" class="target">
      <nz-progress
        [nzPercent]="managementInfo.actualCreateCard / managementInfo.incomeGogal?.expectCardNum * 100 | math: 'ceil'"
        [nzWidth]="80" nzType="circle"></nz-progress>
      <p>会员办卡</p>
      <h2>{{ managementInfo.actualCreateCard }}/{{ managementInfo.incomeGogal?.expectCardNum }}<span>张会员卡</span></h2>
    </div>
    <div nz-col [nzSpan]="6" class="target">
      <nz-progress
        [nzPercent]="managementInfo.actualConsumeCard / managementInfo.incomeGogal?.expectConsumeCardNum * 100 | math: 'ceil'"
        [nzWidth]="80" nzType="circle"></nz-progress>
      <p>会员消卡</p>
      <h2>{{ managementInfo.actualConsumeCard }}/{{ managementInfo.incomeGogal?.expectConsumeCardNum }}<span>次会员卡</span>
      </h2>
    </div>
  </div>

</div>

<ea-title>服务排名</ea-title>

<ea-query-simp [node]="[{ label: '时间', key: 'time', valueKey: ['startDate', 'endDate'], type: 'rangepicker' }, { label: '类型', key: 'orderBy', type: 'radio', options: [{ name: '服务数', id: 1 }, { name: '好评数', id: 2 }, { name: '好评率', id: 3 }], default: 1 }]" (onSubmit)="getPmData($event)"></ea-query-simp>

<div class="runking">
  <ul>
    <li>
      <div>排名</div>
      <div>老师</div>
      <div>好评率</div>
      <div>(好评数/服务数)</div>
    </li>
  </ul>
  <ol>
    <li *ngFor="let item of dataSet; let idx = index">
      <div>{{ idx + 1 }}</div>
      <div>{{ item.teacherName }}</div>
      <div>{{ item.goodReputationRate }}%</div>
      <div>({{ item.goodReputationNum }}/{{ item.serviceNum }})</div>
    </li>
  </ol>
</div>