<form nz-form [formGroup]="formGroup">
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="name">卡类型名称</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="请输入宝宝姓名" formControlName="name" id="name">
          <nz-form-explain *ngIf="formGroup.get('name').dirty && formGroup.get('name').hasError('required')">请输入卡类型名称！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired>卡业务类型</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="categoryId" nzPlaceHolder="请选择卡业务类型">
            <nz-option *ngFor="let option of cardBusinessList" [nzLabel]="option.name" [nzValue]="option.id"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="formGroup.get('categoryId').dirty && formGroup.get('categoryId').hasError('required')">请选择卡业务类型！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="effectMonth">有效时长</nz-form-label>
        <nz-form-control>
          <nz-input-group nzAddOnAfter="个月">
            <input nz-input formControlName="effectMonth" id="effectMonth" placeholder="请输入有效时长">
          </nz-input-group>
          <nz-form-explain *ngIf="formGroup.get('effectMonth').dirty && formGroup.get('effectMonth').hasError('required')">请输入有效时长！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired>计费方式</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="feeType" nzPlaceHolder="请选择计费方式">
            <nz-option nzLabel="按次" [nzValue]="0"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="formGroup.get('feeType').dirty && formGroup.get('feeType').hasError('required')">请选择计费方式！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="times">正价次数</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="times" id="times" placeholder="请输入正价次数">
          <nz-form-explain *ngIf="formGroup.get('times').dirty && formGroup.get('times').hasError('required')">请输入正价次数！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="freeTimes">赠送次数</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="freeTimes" id="freeTimes" placeholder="请输入赠送次数">
          <nz-form-explain *ngIf="formGroup.get('freeTimes').dirty && formGroup.get('freeTimes').hasError('required')">请输入赠送次数！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="balance">金额</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="balance" id="balance" placeholder="请输入金额">
          <nz-form-explain *ngIf="formGroup.get('balance').dirty && formGroup.get('balance').hasError('required')">请输入金额！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="openPoints">开卡送积分</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="openPoints" id="openPoints" placeholder="请输入开卡送积分">
          <nz-form-explain *ngIf="formGroup.get('openPoints').dirty && formGroup.get('openPoints').hasError('required')">请输入开卡送积分！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="24">
      <nz-form-label nzRequired>跨店消费</nz-form-label>
      <nz-form-control>
        <nz-switch formControlName="tong" nzCheckedChildren="可以跨店消费" nzUnCheckedChildren="不可以跨店消费"></nz-switch>
        <nz-form-text style="margin-left: 16px; color: #f5222d">选择是:则该类型下的所有卡的通卡次数会变为总次数50%!</nz-form-text>
      </nz-form-control>
    </div>
  </div>
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label nzFor="comment">备注</nz-form-label>
        <nz-form-control>
          <textarea nz-input placeholder="请输入备注" formControlName="comment" id="comment" [nzAutosize]="{ minRows: 3, maxRows: 4 }"></textarea>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>