button{
  margin-right: 8px;
}
.selectquery span{
  display:inline-block;
  margin-right: 20px;
  margin-bottom: 10px;
}
.List_table{
  margin-top: 10px;
}
.colorList {
  display: inline-block;
  overflow: hidden;
}
.colorList span{
  width: 40px;
  height: 30px;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  border: solid 3px #fff;
  cursor: pointer;
}
.colorList span.cli{
  border: solid 3px #1890ff;
}