<nz-table 
  #basicTable 
  nzBordered 
  [nzTitle]="detailTitle"
  [nzShowPagination]="false" 
  [nzPageSize]="999" 
  [nzData]="[]" 
  [nzLoading]="loading">
  <thead>
    <tr>
      <th rowspan="2">时间</th>
      <th colspan="2">星期一</th>
      <th colspan="2">星期二</th>
      <th colspan="2">星期三</th>
      <th colspan="2">星期四</th>
      <th colspan="2">星期五</th>
      <th colspan="2">星期六</th>
      <th colspan="2">星期日</th>
      <th rowspan="2">操作</th>
    </tr>
    <tr>
      <th>婴儿</th>
      <th>幼儿</th>
      <th>婴儿</th>
      <th>幼儿</th>
      <th>婴儿</th>
      <th>幼儿</th>
      <th>婴儿</th>
      <th>幼儿</th>
      <th>婴儿</th>
      <th>幼儿</th>
      <th>婴儿</th>
      <th>幼儿</th>
      <th>婴儿</th>
      <th>幼儿</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.key }}</td>
      <td>{{ data.value.baby.week2 }}</td>
      <td>{{ data.value.chlid.week2 }}</td>
      <td>{{ data.value.baby.week3 }}</td>
      <td>{{ data.value.chlid.week3 }}</td>
      <td>{{ data.value.baby.week4 }}</td>
      <td>{{ data.value.chlid.week4 }}</td>
      <td>{{ data.value.baby.week5 }}</td>
      <td>{{ data.value.chlid.week5 }}</td>
      <td>{{ data.value.baby.week6 }}</td>
      <td>{{ data.value.chlid.week6 }}</td>
      <td>{{ data.value.baby.week7 }}</td>
      <td>{{ data.value.chlid.week7 }}</td>
      <td>{{ data.value.baby.week1 }}</td>
      <td>{{ data.value.chlid.week1 }}</td>
      <td>
        <a nz-popconfirm nzTitle="确定删除此时段吗?" (nzOnConfirm)="delete(data.key)">删除</a>
      </td>
    </tr>
  </tbody>
</nz-table>
<ng-template #detailTitle>
  <div [style.text-align]="'right'">
    <button nz-button nzType="primary" (click)="dataSet.push({index: dataSet.length + 1, editName: true, editTime: true, editDes: true})">
      <i class="anticon anticon-plus"></i>添加方案
    </button>
  </div>
</ng-template>