<div class="container">
  <div class="content">
    <h1>
      <span>更新日志</span>
      <nz-affix  style="float: right;">
        <button nz-button [nzType]="'primary'" routerLink="/home">
          <span>返回首页</span>
        </button>
      </nz-affix>
    </h1>
    <h4>发布周期</h4>
    <div class="markdown">
      <ul>
        <li>每周末会进行日常 bugfix 更新（如果有紧急的 bugfix，则任何时候都可发布）。</li>
        <li>定期发布一个带有新特性的向下兼容的版本（逐步迁移旧版ERP系统功能）。</li>
        <li>含有破坏性升级的版本更新不在发布周期内。</li>
      </ul>
    </div>
    <div class="changelog">
      <nz-timeline>
        <nz-timeline-item *ngFor="let item of changelog">
          <div class="item">
            <h3>{{ item.version }}<nz-tag>{{ item.time }}</nz-tag></h3>
            <h4 *ngIf="item.features && item.features.length">新增功能</h4>
            <div class="markdown">
              <ul>
                <li *ngFor="let log of item.features">{{ log }}</li>
              </ul>
            </div>
            <h4 *ngIf="item['fixes'] && item['fixes'].length">Bug修复</h4>
            <div class="markdown">
              <ul>
                <li *ngFor="let log of item['fixes']">{{ log }}</li>
              </ul>
            </div>
          </div>
        </nz-timeline-item>
      </nz-timeline>
    </div>
  </div>

  <nz-back-top></nz-back-top>
</div>