<form nz-form [formGroup]="formGroup">
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>卡号</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="cardCode">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>会员名称</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="memberName">
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>停卡日期</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="modifyDate">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>原设置重开卡日期</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="stopEndDate">
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>