.ea-breadcrumb{
	padding: 0 32px;
	border-top: solid 1px #e8e8e8;
	border-bottom: solid 1px #e8e8e8;
	background: #fff;
}
.ant-breadcrumb {
	height: 50px;
	line-height: 50px;
}
.ea-breadcrumb-title {
	font-size: 20px;
	font-weight: 500;
	color: rgba(0,0,0,.85);
	margin-bottom: 16px;
}


:host ::ng-deep {
  nz-tabset .ant-tabs-bar {
    margin-bottom: 0 !important;
  }
}