<div class="ea-breadcrumb">
  <div class="breadcrumb-content" *ngIf="breadcrumb.length">
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <i class="anticon anticon-home" [style.font-size]="'14px'"></i>
      </nz-breadcrumb-item>
      <ng-container *ngFor="let item of breadcrumb">
        <nz-breadcrumb-item *ngIf="!item.titleHide">
          <span>{{ item['title'] }}</span>
        </nz-breadcrumb-item>
      </ng-container>
    </nz-breadcrumb>

    <div class="ea-breadcrumb-title" *ngIf="!breadcrumb[breadcrumb.length - 1].hideTitle">{{ breadcrumb[breadcrumb.length - 1].title }}</div>
  </div>

  <div class="breadcrumb-template" *ngIf="breadcrumbTmpt">
    <ng-container *ngTemplateOutlet="breadcrumbTmpt"></ng-container>
  </div>
</div>