<form nz-form [formGroup]="formGroup">
  <div nz-row nzGutter="8">
    <nz-form-item>
      <nz-form-control>
        <nz-select formControlName="rankId" nzPlaceHolder="请选择职级">
          <nz-option *ngFor="let option of teacherRankList" [nzLabel]="option.rankShortName" [nzValue]="option.id"></nz-option>
        </nz-select>
        <nz-form-explain *ngIf="formGroup.get('rankId').dirty && formGroup.get('rankId').hasError('required')">请选择职级！</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </div>
  <div nz-row nzGutter="8">
    <nz-form-item>
      <nz-form-label nzRequired nzFor="rank1">表扬-满意度系数</nz-form-label>
      <nz-form-control>
        <input nz-input placeholder="请输入表扬-满意度系数" formControlName="rank1" id="rank1">
        <nz-form-explain *ngIf="formGroup.get('rank1').dirty && formGroup.get('rank1').hasError('required')">请输入表扬-满意度系数！</nz-form-explain>
        <nz-form-explain *ngIf="formGroup.get('rank1').dirty && formGroup.get('rank1').hasError('pattern')">请输入正确的满意度系数！</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </div>
  <div nz-row nzGutter="8">
    <nz-form-item>
      <nz-form-label nzRequired nzFor="rank2">满意-满意度系数</nz-form-label>
      <nz-form-control>
        <input nz-input placeholder="请输入满意-满意度系数" formControlName="rank2" id="rank2">
        <nz-form-explain *ngIf="formGroup.get('rank2').dirty && formGroup.get('rank2').hasError('required')">请输入满意-满意度系数！</nz-form-explain>
        <nz-form-explain *ngIf="formGroup.get('rank2').dirty && formGroup.get('rank2').hasError('pattern')">请输入正确的满意度系数！</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </div>
  <div nz-row nzGutter="8">
    <nz-form-item>
      <nz-form-label nzRequired nzFor="rank3">一般-满意度系数</nz-form-label>
      <nz-form-control>
        <input nz-input placeholder="请输入一般-满意度系数" formControlName="rank3" id="rank3">
        <nz-form-explain *ngIf="formGroup.get('rank3').dirty && formGroup.get('rank3').hasError('required')">请输入一般-满意度系数！</nz-form-explain>
        <nz-form-explain *ngIf="formGroup.get('rank3').dirty && formGroup.get('rank3').hasError('pattern')">请输入正确的满意度系数！</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </div>
  <div nz-row nzGutter="8">
    <nz-form-item>
      <nz-form-label nzRequired nzFor="rank4">不好-满意度系数</nz-form-label>
      <nz-form-control>
        <input nz-input placeholder="请输入不好-满意度系数" formControlName="rank4" id="rank4">
        <nz-form-explain *ngIf="formGroup.get('rank4').dirty && formGroup.get('rank4').hasError('required')">请输入不好-满意度系数！</nz-form-explain>
        <nz-form-explain *ngIf="formGroup.get('rank4').dirty && formGroup.get('rank4').hasError('pattern')">请输入正确的满意度系数！</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
  </div>
</form>

<div class="drawer-footer">
  <button nz-button (click)="close()">取消</button>
  <button nz-button nzType="primary" [nzLoading]="saveLoading" (click)="save()">保存</button>
</div>