<div class="container">
  <ea-query-simp [node]="[{label: '部门名称', key: 'name', type: 'input'}]" (onSubmit)="table.request($event)"></ea-query-simp>

  <button nz-button nzType="primary" style="margin-bottom: 24px;" (click)="update()">新增部门</button>

  <ea-table 
    #table 
    url="/department/getDepartmentList" 
    [thead]="['部门名称','部门主管','部门描述','操 作']"
    [EaTableTbodyTr]="EaTableTbodyTr">
    <ng-template let-data #EaTableTbodyTr>
      <td>{{ data.name }}</td>
      <td>{{ data.employeeName }}</td>
      <td>{{ data.comment }}</td>
      <td>
        <a (click)="update({ departmentInfo: data })">编辑</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a nz-popconfirm nzTitle="确认删除此部门吗?" (nzOnConfirm)="delete(data.id)">删除</a>
      </td>
    </ng-template>
  </ea-table>
</div>