.ant-form-inline nz-form-item {
  width: 100%;
  margin-bottom: 16px;
}
.hp-query-btns {
  float: right;
  nz-form-control {
    width: 100%;
  }
  nz-form-control {
    text-align: right;
  }
} 
:host ::ng-deep { 
  nz-input-group {
    &:hover .anticon {
      opacity: 1;
      visibility: visible;
    }
    .anticon {
      color: rgba(0, 0, 0, 0.25);
      opacity: 0;
      visibility: hidden;
      cursor: pointer;
      transition: all .3s;
      &:hover {
        color: rgba(0, 0, 0, 0.43);
      }
    }
  }
  .ant-calendar-picker {
    width: 100%;
    .ant-calendar-range-picker-input {
      text-align: left;
    }
  }
}