<div class="container">
  <ea-list-page #listPage url="/bonusSatisfaction/getBonusSatisfactionList" [allowSpace]="false"
    [tableThead]="['门店满意度','满意度提成系数','满意度职级','修改时间','修改人','操作']" 
    [EaTableTbodyTr]="EaTableTbodyTr" [EaBtns]="EaBtns">
    <ng-template #EaBtns>
      <button nz-button nzType="dashed" style="width: 100%;" (click)="update()"><i class="anticon anticon-plus"></i>新增考勤</button>
    </ng-template>
    <ng-template let-data #EaTableTbodyTr>
      <td>{{ data.satisfaction }}</td>
      <td>{{ data.ratio }}</td>
      <td>{{ data.rankShortName }}</td>
      <td>{{ data.modifyTime }}</td>
      <td>{{ data.modifyUser }}</td>
      <td>
        <a (click)="update(data)">编辑</a>
      </td>
    </ng-template>
  </ea-list-page>
</div>