:host ::ng-deep {
  nz-table { 
    &.nowrap {
      white-space: nowrap;

      .ant-table-body {
        overflow-x: auto;
      }
    }
    tbody tr:nth-child(4n - 1) {
      background: #f9f9f9;
    }
    tr.ea-checked {
      background: #e6f7ff;
    }
  }
}