<form nz-form [formGroup]="formGroup">
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>会员姓名</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="无会员姓名" formControlName="memberName">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>家长姓名</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="无家长姓名" formControlName="name">
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>手机号</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="无手机号" formControlName="phone">
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label>建议内容</nz-form-label>
        <nz-form-control>
          <textarea nz-input placeholder="无建议内容" formControlName="content" [nzAutosize]="{ minRows: 4, maxRows: 4 }"></textarea>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired>处理结果</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="status" nzPlaceHolder="请选择处理结果">
            <nz-option nzLabel="未处理" [nzValue]="0"></nz-option>
            <nz-option nzLabel="已处理" [nzValue]="1"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="deal">处理意见</nz-form-label>
        <nz-form-control>
          <textarea nz-input placeholder="请输入处理意见" formControlName="deal" id="deal" [nzAutosize]="{ minRows: 4, maxRows: 4 }"></textarea>
          <nz-form-explain *ngIf="formGroup.get('deal').dirty && formGroup.get('deal').hasError('required')">请输入处理意见！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>

<div class="drawer-footer" *ngIf="dataInfo.status == 0">
  <button nz-button (click)="close()">取消</button>
  <button nz-button nzType="primary" [nzLoading]="saveLoading" (click)="save()">保存</button>
</div>