<div class="container">

  <!-- 查询条件 -->
  <ea-query #eaQuery [node]="queryNode" (onSubmit)="query($event)"></ea-query>

  <!-- 按钮组 -->
  <div style="margin-bottom: 10px;" class="ea-button-group">
    <button nz-button nzType="primary" (click)="operation('preview')">查看</button>
    <button nz-button nzType="primary" (click)="operation('revoke')">撤销</button>
    <!-- <button nz-button nzType="primary" (click)="operation('revoke')">撤销</button> -->
    <button nz-button (click)="operation('satisfaction')">修改满意度</button>
  </div>

  <!-- 提示框 -->
  <nz-modal #tlModal [(nzVisible)]="isVisible" nzTitle="订单撤销" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <nz-table #basic [nzData]="basicTable" nzBordered nzShowPagination="false">
      <thead>
        <tr>
          <th>订单号</th>
          <th>商品</th>
          <th>下单时间</th>
        </tr>
      </thead>
      <tbody>
        <!-- <ng-template ngFor let-data [ngForOf]="basic.data"> -->
          <tr *ngFor="let data of basicTable">
            <td>{{ data.orderNo }}</td>
            <td><span *ngFor="let item of data.consumeRecordVOS">{{ item.commodityName }}&nbsp;</span></td>
            <!-- <td>{{ data.commodity }}</td> -->
            <td>{{ data.payTime }}</td>
          </tr>
        <!-- </ng-template> -->
      </tbody>
    </nz-table>
    <form [formGroup]="formGroup">
      <nz-form-item>
        <nz-form-label nzRequired>撤销原因</nz-form-label>
        <nz-form-control>
          <textarea nz-input row="4" formControlName="causesRevocation" placeholder="请输入备注"></textarea>
          <nz-form-explain *ngIf="formGroup.get('causesRevocation').dirty && formGroup.get('causesRevocation').hasError('required')">请输入备注！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-modal>

  <!-- 表格 -->
  <nz-table
      #rowSelectionTable
      nzShowSizeChanger
      [nzData]="listOfData"
      (nzCurrentPageDataChange)="currentPageDataChange($event)"
      [nzShowPagination]="false"
      [nzLoading] = "loading"
      nzBordered
    >
    <thead>
      <tr>
        <th></th>
        <!-- <th
          nzShowExpand
          nzShowCheckbox
          [(nzChecked)]="isAllDisplayDataChecked"
          [nzIndeterminate]="isIndeterminate"
          (nzCheckedChange)="checkAll($event)"
        ></th> -->
        <th>订单详情</th>
        <th>客户信息</th>
        <th>金额</th>
        <th>其他信息</th>
        <th>服务信息</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="listOfData">
      <!-- <ng-template ngFor let-data [ngForOf]="rowSelectionTable.data"> -->
        <tr>
          <td class="ttd" [nzShowExpand]="false" nzShowCheckbox [(nzExpand)]="data.expand" [(nzChecked)]="data.isChecked" (nzCheckedChange)="refreshStatus(data.orderNo)"></td>
          <!-- <td class="ttd" nzShowCheckbox ShowExpand [(nzExpand)]="data.expand" [(nzChecked)]="mapOfCheckedId[data.key]" (nzCheckedChange)="refreshStatus(data.id)"></td> -->
          <td>{{ data.payTime}}  {{ data.orderNo }}</td>
          <td>{{ data.memberName }} {{ data.memberNickstring }}<br>卡号：{{ data.cardCode }}<br>卡类型：{{ data.cartTypeName }}</td>
          <td>¥{{ data.payment }}</td>
          <td>服务泳师：{{ data.employeeName }}<br>满意程度：{{ data.satisfaction }}</td>
          <td>备注：{{ data.comment }}</td>
        </tr>
        <tr [nzExpand]="true">
          <td></td>
          <td colspan="5">
            <nz-table #innerTable [nzData]="data.consumeRecordVOS" nzSize="middle" [nzShowPagination]="false">
              <thead>
                <tr>
                  <th style="width:40.76%;">商品名称</th>
                  <th style="width:20.3%;">数量</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of data.consumeRecordVOS">
                  <td>{{ item.commodityName }}</td>
                  <td>{{ item.commodityTotal }}</td>
                  <!-- <td><a (click)="revokeOne(data,item.id)">撤销消费</a></td> -->
                  <td><nz-tag [nzColor]="item.status == 0 ? '#2db7f5' : '#f50'"(click)="revokeOne(data,item.id)">{{ item.status == 0 ? '撤销消费' : '已撤销' }}</nz-tag></td>
                </tr>
              </tbody>
            </nz-table>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </nz-table>
  <nz-pagination class="nz-pagination" (nzPageIndexChange)="nzPageIndexChange($event)" (nzPageSizeChange)="nzPageSizeChange($event)" [nzPageIndex]="nzPageIndex" [nzTotal]="nzTotal" nzShowSizeChanger [nzPageSize]="nzPageSize"></nz-pagination>
  <span class="nz-pagination-des">从{{ nzPageIndex*nzPageSize-nzPageSize+1 }}到{{ nzPageIndex*nzPageSize < nzTotal ? nzPageIndex*nzPageSize : nzTotal }}条记录/共{{ nzTotal }}条记录</span>
</div>