<div class="container">
  <form nz-form [formGroup]="passwordForm" [style.max-width]="'600px'">
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="password" [nzRequired]="true">原始密码</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input type="password" id="password" formControlName="password" placeholder="请输入原始密码">
        <nz-form-explain *ngIf="passwordForm.get('password').dirty && passwordForm.get('password').hasError('required')">请输入原始密码!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="newPw" [nzRequired]="true">新密码</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input type="password" id="newPw" formControlName="newPw" placeholder="请输入新密码">
        <nz-form-explain *ngIf="passwordForm.get('newPw').dirty && passwordForm.get('newPw').hasError('required')">请输入新密码!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="cofirmPw" [nzRequired]="true">确认密码</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input type="password" id="cofirmPw" formControlName="cofirmPw" placeholder="请重新输入新密码">
          <nz-form-explain *ngIf="passwordForm.get('cofirmPw').dirty && passwordForm.get('cofirmPw').errors">
            <ng-container *ngIf="passwordForm.get('cofirmPw').hasError('required')">
              请输入新密码!
            </ng-container>
            <ng-container *ngIf="passwordForm.get('cofirmPw').hasError('confirm')">
              请保持新密码一致
            </ng-container>
          </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <div nz-row>
      <div nz-col nzOffset="6">
        <button nz-button nzType="primary" [nzLoading]="modifyLoading" (click)="modifyPassword()">确认修改</button>
      </div>
    </div>
  </form>
</div>