<div class="container">
  <ea-query #eaQuery [node]="queryNode" (onSubmit)="log($event)"></ea-query>
</div>


<nz-table #basicTable [nzData]="dataSet">
  <thead>
    <tr>
      <th>日期</th>
      <th>员工姓名</th>
      <th>服务次数</th>
      <th>原提成金额</th>
      <th>提成总额</th>
      <th>增长金额</th>
      <th>增长比例</th>
      <th>表扬次数</th>
      <th>表扬率</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.xxxx }}</td>
      <td>{{ data.xxxx }}</td>
      <td>{{ data.xxxx }}</td>
      <td>{{ data.xxxx }}</td>
      <td>{{ data.xxxx }}</td>
      <td>{{ data.xxxx }}</td>
      <td>{{ data.xxxx }}</td>
      <td>{{ data.xxxx }}</td>
      <td>{{ data.xxxx }}</td>
    </tr>
    <tr>
      <td>总计</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</nz-table>