<div class="container">
  <ea-list-page 
    #listPage
    url="/reserve/list"
    [allowSpace]="false"
    [queryNode]="queryNode"
    [tableThead]="[ '照片', '卡号', '卡类型', '婴儿类型', '姓名', '小名', '月龄'  ,'预约时间', '消费时间', '预约状态', '预约泳师', '泳圈型号', '创建时间', '预约方式', '全国通卡跨店'
    ,'爽约率(撤销/预约)', '业务类型', '备注', '取消人' , { name: '操作', right: 0} ]"
    [EaTableTbodyTr]="EaTableTbodyTr">
    <ng-template let-data #EaTableTbodyTr>
      <td>
        <nz-avatar [nzSrc]="data.albumUrl" nz-tooltip [nzTitle]="titleTemplate"></nz-avatar>
        <ng-template #titleTemplate>
          <img [src]="data.albumUrl" [ngStyle]="{'max-width': '400px', 'max-height': '400px'}">
        </ng-template>
      </td>
      <td>{{ data.cardCode }}</td>
      <td>{{ data.cardTypeName }}</td>
      <td>{{ data.babyType }}</td>
      <td>{{ data.name }}</td>
      <td>{{ data.nick }}</td>
      <td>{{ data.monthAge }}</td>
      <td>{{ data.reserveDate }}&nbsp;{{ data.rHour }}:{{ data.rMinute }}</td>
      <td>{{ data.consumeDate }}</td>
      <td><nz-tag [nzColor]="data.reserveStatus == 0 ? '#87d068' : data.reserveStatus == 1 ? '#f50' : '#2db7f5'">{{ data.reserveStatus == 0 ? '预约中' : data.reserveStatus == 1 ? '已撤销' : '已完成' }}</nz-tag></td>
      <td>{{ data.teacherName }}</td>
      <td>{{ data.ringName }}</td>
      <td>{{ data.createDate }}</td>
      <td>{{ data.type == 0 ? '门店' : data.type == 2 ? '会员APP' : data.type == 5 ? '小程序' : '总部活动' }}</td>
      <td>{{ data.isCrossed == 1 ? '是' : '否' }}</td>
      <td>{{ data.reserveCancel/data.reserveTotal | percent }}</td>
      <td>{{ data.cardTypeCategoryName }}</td>
      <td>{{ data.comment }}</td>
      <td>{{ data.cancelName }}</td>
      <td [nzRight]="0" align="center">
        <a (click)="preview(data)">查看</a>
        <nz-divider nzType="vertical" *ngIf="data.reserveStatus == 0"></nz-divider>
        <nz-dropdown *ngIf="data.reserveStatus == 0">
          <a nz-dropdown>操作<i class="anticon anticon-down"></i>
          </a>
          <ul nz-menu nzSelectable>
            <li nz-menu-item>
              <a (click)="reserveCancel(data.id)">撤销</a>
            </li>
            <li nz-menu-item>
              <a (click)="consumption(data)">结算</a>
            </li>
          </ul>
        </nz-dropdown>
      </td>
    </ng-template>
  </ea-list-page>
</div>