<div class="container">
  <ea-list-page 
    #listPage
    url="/reserve/list"
    [allowSpace]="false"
    [queryNode]="queryNode"
    [paramsDefault]="paramsInit"
    [showPage]="true"
    (requestDataChange)="requestDataLength = $event.length"
    [tableThead]="[ '照片', '卡号', '卡类型', '婴儿类型', '姓名', '小名', '月龄'  ,'预约时间', '消费时间', '预约状态', '预约泳师',  '操作时间' ,'爽约率',  '备注',  '操作' ]"
    
    [EaTableTbodyTr]="EaTableTbodyTr"
    [EaBtns]="EaBtns">
    <ng-template let-data #EaTableTbodyTr>
      <td>
        <nz-avatar nzShape="square" [nzOverlayStyle]="{padding: '0 !important'}" nzPlacement="rightBottom" [nzSrc]="data.AlbumUrl" nz-tooltip [nzTitle]="titleTemplate"></nz-avatar>
        <ng-template #titleTemplate>
          <img [src]="data.AlbumUrl" [ngStyle]="{'max-width': '226px', 'max-height': '400px', 'transform': 'scale(1.1)'}">
        </ng-template>
      </td>
      <td>{{ routingPath == '/home/appointment/list' ? data.cardCode : "***" }}</td>
      <td>{{ data.cardTypeName}}</td>
      <td>{{ data.babyType }}</td>
      <td>{{ data.name }}</td>
      <td>{{ data.nick }}</td>
      <td>{{ data.monthAge }}</td>
      <td>{{ data.currentDate }}&nbsp;{{ data.startTime }}</td>
      <td>{{ data.consumeDate }}</td>
      <td><nz-tag [nzColor]="data.reserveStatus == 0 ? '#87d068' : data.reserveStatus == 1 ? '#f50' : '#2db7f5'">{{ data.reserveStatus == 0 ? '预约中' : data.reserveStatus == 1 ? '已撤销' : data.reserveStatus == 4 ? '补课预约' : '已完成' }}</nz-tag></td>
      <td>{{ data.teacherName }}</td>
      <td>{{ data.updateTime | date:'yyyy-MM-dd HH:mm:ss' }}</td>
      <td>{{ data.reserveCancel/data.reserveTotal | percent }}</td>
      <td><span *ngIf="data.remarks" nz-tooltip [nzTitle]="data.remarks">{{ data.remarks.length > 10 ? data.remarks.substr(0, 10) + '...' : data.remarks }}</span></td>
      <td *ngIf="routingPath == '/home/appointment/list'">
        <a (click)="preview(data)">查看</a>
        <nz-divider nzType="vertical" ></nz-divider>
        <a (click)="reserveCancel(data.id)" *ngIf="data.reserveStatus==0||data.reserveStatus == 4" >撤销</a>
        <a  *ngIf="data.reserveStatus!=0&&data.reserveStatus != 4" reserveStatus style="color: #ccc;">撤销</a>
      </td>
       <td *ngIf="routingPath != '/home/appointment/list'"></td>
    </ng-template>

    <ng-template #EaBtns>
      <form nz-form nzLayout="inline" [formGroup]="weilaiForm">
        <div nz-col style="width: 600px">
          <nz-radio-group formControlName="weilai" style="width: 100%; display: flex;">
            <label style="flex: 1; text-align: center" *ngFor="let option of weilaiOptionList" nz-radio-button [nzValue]="option.id">{{
              option.name }}</label>
          </nz-radio-group>
        </div>
      </form>
    </ng-template>
  </ea-list-page>
</div>