<div class="container">
  <ea-query-simp [node]="[{label: '职位名称', key: 'position', type: 'input'}]" (onSubmit)="table.request($event)"></ea-query-simp>

  <button nz-button nzType="primary" style="margin-bottom: 24px;" (click)="update()">新增职位</button>

  <ea-table 
    #table 
    url="/humanInformation/getBandList" 
    [thead]="['职位','职务','级别','底薪','操 作']"
    [EaTableTbodyTr]="EaTableTbodyTr">
    <ng-template let-data #EaTableTbodyTr>
      <td>{{ data.position }}</td>
      <td>{{ data.role == 1 ? '店长' : data.role == 2 ? '销售' : data.role == 3 ? '主管': data.role == 4 ? '水育师' : '--' }}</td>
      <td>{{ data.starLevel == 1 ? '一星(初级)' : data.starLevel == 2 ? '二星(中级)' : data.starLevel == 3 ? '三星(高级)' : '--' }}</td>
      <td>{{ data.salary }}</td>
      <td>
        <a (click)="update({ positionInfo: data })">编辑</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a nz-popconfirm nzTitle="确认删除此职位吗?" (nzOnConfirm)="delete(data.id)">删除</a>
      </td>
    </ng-template>
  </ea-table>
</div>