<form nz-form [formGroup]="formGroup">
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>会员卡号</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="cardCode">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>会员姓名</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="memberName">
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>会员小名</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="memberNick">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>服务老师</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="swimTeacher">
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired>课程类型</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="type" nzPlaceHolder="请选择课程类型">
            <nz-option nzLabel="国学" [nzValue]="1"></nz-option>
            <nz-option nzLabel="双语" [nzValue]="2"></nz-option>
            <nz-option nzLabel="数学" [nzValue]="3"></nz-option>
            <nz-option nzLabel="儿歌" [nzValue]="4"></nz-option>
            <nz-option nzLabel="颜色" [nzValue]="5"></nz-option>
            <nz-option nzLabel="认识" [nzValue]="6"></nz-option>
            <nz-option nzLabel="英语对话" [nzValue]="7"></nz-option>
            <nz-option nzLabel="智力开发游戏" [nzValue]="8"></nz-option>
            <nz-option nzLabel="其他" [nzValue]="9"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="formGroup.get('type').dirty && formGroup.get('type').hasError('required')">请选择课程类型！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label nzFor="remarks">课程说明</nz-form-label>
        <nz-form-control>
          <textarea nz-input formControlName="remarks" placeholder="请输入课程说明" id="remarks" [nzAutosize]="{ minRows: 3, maxRows: 4 }"></textarea>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>