<form nz-form [formGroup]="formGroup">
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired>姓名</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="请输入宝宝姓名" formControlName="name">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzFor="nick">小名</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="请输入宝宝小名" formControlName="nick">
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired>性别</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="请选择宝宝性别" formControlName="sex">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="monthAge">宝贝月龄</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="请输入宝贝月龄" formControlName="monthAge">
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired>婴儿类型</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="请选择婴儿类型" formControlName="babyType">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired>所属社区</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="请选择所属社区" formControlName="communityName">
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="exchangePoint">消耗积分</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="exchangePoint" placeholder="请输入消耗积分" id="exchangePoint">
          <nz-form-explain *ngIf="formGroup.get('exchangePoint').dirty && formGroup.get('exchangePoint').hasError('required')">请输入消耗积分！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="exchangeRemark">兑换内容</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="exchangeRemark" placeholder="请输入兑换内容" id="exchangeRemark">
          <nz-form-explain *ngIf="formGroup.get('exchangeRemark').dirty && formGroup.get('exchangeRemark').hasError('required')">请输入兑换内容！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>