<div class="container">
  <ea-list-page 
    #listPage
    url="/customer/consumeRecordList"
    [allowSpace]="false"
    [queryNode]="queryNode"
    [tableThead]="['卡号', '卡类型', '姓名', '小名', '全国通卡跨店', '消费金额', '消费时间', '已使用卡次', '单次扣除卡次', '类型', '消费商品', '服务泳师', '满意度', '体重', '泳圈型号', '游泳时长', '测量', '拍照', '备注']"
    [checked]="true"
    [isRadio]="true"
    [checkedItems]="checkedItems"
    [EaTableTbodyTr]="EaTableTbodyTr"
    [EaBtns]="EaBtns"
    (requestReady)="requestReady($event)">
    <ng-template let-data #EaTableTbodyTr>
      <td>{{ data.cardCode }}</td>
      <td>{{ data.cardName }}</td>
      <td>{{ data.memberName }}</td>
      <td>{{ data.memberNick }}</td>
      <td>{{ data.isCrossed == 1 ? '是' : '否' }}</td>
      <td>{{ data.consumption | currency: '￥' }}</td>
      <td>{{ data.consumeDate }}</td>
      <td>{{ data.usedTimes }}</td>
      <td>{{ data.deductionTimes }}</td>
      <td>{{ data.type == 0 ? '正价' : data.type == 1 ? '赠送' : '--' }}</td>
      <td>{{ data.commodityName }}</td>
      <td>{{ data.swimTeacher }}</td>
      <td>{{ data.satisfaction }}</td>
      <td>{{ data.weight }}</td>
      <td>{{ data.swimName }}</td>
      <td>{{ data.swimDuration }}</td>
      <td>{{ data.weighRemind ? '需要' : '不需要' }}</td>
      <td>{{ data.photoRemind ? '需要' : '不需要' }}</td>
      <td>{{ data.comment }}</td>
    </ng-template>

    <ng-template #EaBtns>
      <div class="ea-button-group">
        <button nz-button nzType="primary" (click)="operation('preview')"><i class="anticon anticon-eye-o"></i>查看</button>
        <button nz-button (click)="operation('satisfaction')"><i class="anticon anticon-form"></i>修改满意度</button>
        <nz-dropdown>
          <button nz-button nz-dropdown>更多操作<i class="anticon anticon-down"></i></button>
          <ul nz-menu>
            <li nz-menu-item><a (click)="operation('revoke')">撤销</a></li>
            <li nz-menu-item><a (click)="operation('message')">发短信</a></li>
            <li nz-menu-item><a (click)="operation('curriculum')">添加课程</a></li>
          </ul>
        </nz-dropdown>
      </div>
    </ng-template>
  </ea-list-page>
</div>
<nz-drawer 
  [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }"
  [nzWidth]="720" 
  [nzVisible]="showDrawer" 
  [nzTitle]="drawerTitle" 
  (nzOnClose)="showDrawer = false">
  <ng-template #drawerContainer></ng-template>
  <div class="footer">
    <button nz-button (click)="showDrawer = false">取消</button>
    <button nz-button nzType="primary" (click)="saveDrawer()">保存</button>
  </div>
</nz-drawer>

