<form nz-form [formGroup]="formGroup">
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="name">姓名</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="请输入宝宝姓名" formControlName="name" id="name">
          <nz-form-explain *ngIf="formGroup.get('name').dirty && formGroup.get('name').hasError('required')">请输入宝宝姓名！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzFor="nick">小名</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="请输入宝宝小名" formControlName="nick" id="nick">
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired>性别</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="sex" nzPlaceHolder="请选择宝宝性别">
            <nz-option nzLabel="男" nzValue="男"></nz-option>
            <nz-option nzLabel="女" nzValue="女"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="formGroup.get('sex').dirty && formGroup.get('sex').hasError('required')">请选择宝宝性别！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="monthAge">宝贝月龄</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="请输入宝贝月龄" formControlName="monthAge" id="monthAge">
          <nz-form-explain *ngIf="formGroup.get('monthAge').dirty && formGroup.get('monthAge').hasError('required')">请输入宝贝月龄！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired>婴儿类型</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="babyType" nzPlaceHolder="请选择婴儿类型">
            <nz-option nzLabel="婴儿" nzValue="婴儿"></nz-option>
            <nz-option nzLabel="幼儿" nzValue="幼儿"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="formGroup.get('babyType').dirty && formGroup.get('babyType').hasError('required')">请输入婴儿类型！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired>所属社区</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="communityId" nzPlaceHolder="请选择所属社区">
            <nz-option *ngFor="let option of communityList" [nzLabel]="option.name" [nzValue]="option.id"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="formGroup.get('communityId').dirty && formGroup.get('communityId').hasError('required')">请选择所属社区！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired>会员卡</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="cardId" nzPlaceHolder="请选择会员卡">
            <nz-option *ngFor="let option of cardList" [nzLabel]="option.ctName" [nzValue]="option.id"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="formGroup.get('cardId').dirty && formGroup.get('cardId').hasError('required')">请选择会员卡！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>特殊标记</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="spec" nzPlaceHolder="请选择特殊标记">
            <nz-option nzLabel="是" [nzValue]="1"></nz-option>
            <nz-option nzLabel="否" [nzValue]="0"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired>预约日期</nz-form-label>
        <nz-form-control>
          <nz-input-group nzCompact>
            <nz-date-picker formControlName="reserveDate" nzPlaceHolder="请选择预约日期" [nzDisabledDate]="_disabledDate"></nz-date-picker>
            <nz-time-picker [ngClass]="{'has-error': formGroup.get('reserveHour').dirty && formGroup.get('reserveHour').hasError('required')}" formControlName="reserveHour" nzFormat="HH:mm" [nzMinuteStep]="15" [nzDisabledHours]="_disabledHours"></nz-time-picker>
          </nz-input-group>
          <nz-form-explain style="color: #f5222d;" *ngIf="(formGroup.get('reserveDate').dirty && formGroup.get('reserveDate').hasError('required')) || (formGroup.get('reserveHour').dirty && formGroup.get('reserveHour').hasError('required'))">请选择预约日期和时间！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired>预约泳师</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="swimTeacherId" nzPlaceHolder="请选择预约泳师">
            <nz-option *ngFor="let option of teacherList" [nzLabel]="option.name" [nzValue]="option.id"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="formGroup.get('swimTeacherId').dirty && formGroup.get('swimTeacherId').hasError('required')">请选择预约泳师！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>泳圈型号</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="ringId" nzPlaceHolder="请选择泳圈型号">
            <nz-option *ngFor="let option of swimRingList" [nzLabel]="option.name" [nzValue]="option.id"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label nzFor="comment">备注</nz-form-label>
        <nz-form-control>
          <textarea nz-input placeholder="请输入备注" formControlName="comment" id="comment" [nzAutosize]="{ minRows: 4, maxRows: 4 }"></textarea>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>