<div class="container">
  <ea-query [node]="queryNode" (onSubmit)="EaTable.request($event)"></ea-query>

  <ea-table #EaTable [thead]="tableNode" [EaTableTbodyTr]="EaTableTbodyTr" [allowSpace]="false" [paramsDefault]="{traceType: 5, followStageId: 3}"
    url="/customer/noCardReturnVisitList">
    <ng-template let-data #EaTableTbodyTr>
      <td nzWidth="120px" nzLeft="0">
        <a href="javascript: void(0);" [routerLink]="{outlets: {aux: 'preview/' + data.id}}">{{ data.nick }}</a>
      </td>
      <td>{{ data.name || '--' }}</td>
      <td>{{ data.birthday || '--' }}</td>
      <td>
        <i class="iconfont" [title]="data.sex" [ngClass]="[ data.sex === '男' ? 'icon-nan' : 'icon-nv']"></i>
      </td>
      <td>{{ data.birthday | monthdiff }}</td>
      <td>{{ data.parentName }}</td>
      <td>
        <a href="javascript:;" [getMobile]="data.id">查看</a>
      </td>
      <td>{{ data.communityName || '--' }}</td>
      <td>{{ data.lastConsumeDate }}</td>
      <td>{{ data.nextFollowTime | date: 'yyyy-MM-dd' || '--' }}</td>
      <td>{{ data.lastFollowTime || '--' }}</td>
      <td>{{ data.sourceName || '--' }}</td>
      <td>{{ data.memberStatus || '--' }}</td>
      <td>{{ data.followStage + (data.followNum ? '('+ data.followNum +')' : '') }}</td>
      <td>{{ data.contributors || '--' }}</td>
    </ng-template>
  </ea-table>

  <router-outlet name="aux"></router-outlet>
</div>