
    .box {
        display: flex;
        flex-direction: column;
        height: 100%;
        position: relative;
    }

    .header {
        flex: 0 0 auto;
        padding-bottom: 20px;
        .head-image {
            width: 40px;
            height: 40px;
            float: left;
            img {
                width: 100%;
            }
        }
        .head-title {
            height: 40px;
            padding-left: 60px;
            font-size: 16px;
            line-height: 40px;
        }
        .head-content {
            margin-top: 14px;
            overflow: hidden;
            & > div {
                float: left;
                &:not(:last-child) {
                    margin-right: 30px;
                }
                label, 
                span {
                    color: #999;
                    font-size: 14px;
                }
            }
        }
        .head-buttons {
            position: absolute;
            top: 0;
            right: 60px;
        }
    }

    .details {
        & > div > div {
            margin-bottom: 6px;
        }
        div {
            font-size: 13px;
            label {
                color: #999;
                font-size: 13px;
            }
        }
    }

    .record {
        padding: 0 20px;
    }
    .record-list {
        padding: 0 20px;
        .not-found {
            padding: 60px 0 30px;
            color: #ccc;
            font-size: 12px;
            text-align: center;
            i {
                font-size: 48px;
            }
        }
    }

    .record-card-title {
        margin-bottom: 16px;
        & > div {
            display: inline-block;
            &:not(:last-child) {
                margin-right: 20px;
            }

            label {
                font-weight: 400;
            }
            span {
                font-size: 12px;
            }
        }
    }

    .card-head {
        float: left;
        height: 40px;
        img {
            height: 100%;
        }
    }
    .card-title {
        padding-left: 60px;
        line-height: 40px;
        span {
            margin-left: 20px;
            font-size: 13px;
        }
    }
    .card-main {
        margin-top: 10px;
        padding-left: 60px;
    }

.form-content {
    overflow: hidden;
    .form-btn {
        float: right;
    }
}
.record-status {
    list-style: none;
    margin-left: -40px;
    margin-bottom: -1px;
}

:host ::ng-deep {

            .ant-tabs {
                display: flex;
                flex-direction: column;
                .ant-tabs-bar {
                    flex: 0 0 auto;
                }
                .ant-tabs-content {
                    flex: auto;
                }
                .ant-tabs-tabpane {
                    overflow-y: auto;
                }
            }
    
    .input-err {
        .ant-input, .ant-select-selection {
            border-color: #f5222d;
        }
    }
}

.tags-content {
    nz-tag {
        display: inline-block;
        margin-bottom: 8px;
    }
}

.icon-nan {
    color: #74b9ec
}
.icon-nv {
    color: #ff3ec9
}