<form nz-form [formGroup]="baseFormGroup">
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>姓名</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="请输入宝宝姓名" formControlName="memberName">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>小名</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="请输入宝宝小名" formControlName="memberNick">
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>性别</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="sex" nzPlaceHolder="请选择宝宝性别">
            <nz-option nzLabel="男" nzValue="男"></nz-option>
            <nz-option nzLabel="女" nzValue="女"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>宝贝月龄</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="请输入宝贝月龄" formControlName="monthAge">
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>

<form nz-form [formGroup]="timesCountGroup" *ngIf="recordInfo.commodityType == 0">
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>消费卡</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="cardCode">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>消费服务</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="commodityName">
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired>服务泳师</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="teacherId" nzPlaceHolder="请选择服务泳师">
            <nz-option *ngFor="let option of teacherList" [nzLabel]="option.name" [nzValue]="option.id"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="timesCountGroup.get('teacherId').dirty && timesCountGroup.get('teacherId').hasError('required')">请选择服务泳师！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>泳圈型号</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="ringId" nzPlaceHolder="请选择泳圈型号">
            <nz-option *ngFor="let option of swimRingList" [nzLabel]="option.name" [nzValue]="option.id"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>游泳时长</nz-form-label>
        <nz-form-control>
          <nz-input-group nzAddOnAfter="分钟">
            <input nz-input formControlName="swimDuration" placeholder="请输入游泳时长">
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>身高</nz-form-label>
        <nz-form-control>
          <nz-input-group nzAddOnAfter="厘米">
            <input nz-input formControlName="temperaturePost" placeholder="请输入身高">
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>体重</nz-form-label>
        <nz-form-control>
          <nz-input-group nzAddOnAfter="公斤">
            <input nz-input formControlName="weight" placeholder="请输入体重">
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>体温</nz-form-label>
        <nz-form-control>
          <nz-input-group nzAddOnAfter="°C">
            <input nz-input formControlName="temperature" placeholder="请输入体温">
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>顾客满意度</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="satisfaction" placeholder="请选择顾客满意度">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired>消费时间</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="consumeDate" placeholder="请输入消费时间">
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>

<form nz-form [formGroup]="singleTimeGroup" *ngIf="recordInfo.commodityType == 1">
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired>消费商品</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="commodityName">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired>消费金额</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="consumption">
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired>服务泳师</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="teacherId" nzPlaceHolder="请选择服务泳师">
            <nz-option *ngFor="let option of teacherList" [nzLabel]="option.name" [nzValue]="option.id"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="singleTimeGroup.get('teacherId').dirty && singleTimeGroup.get('teacherId').hasError('required')">请选择服务泳师！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>顾客满意度</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="satisfaction" placeholder="请选择顾客满意度">
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzRequired>消费时间</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="consumeDate" placeholder="请输入消费时间">
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>

<form nz-form [formGroup]="baseFormGroup">
  <div nz-row nzGutter="8">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label nzFor="comment">备注</nz-form-label>
        <nz-form-control>
          <textarea nz-input formControlName="comment" placeholder="请输入备注" id="comment" [nzAutosize]="{ minRows: 3, maxRows: 4 }"></textarea>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>