/* base */
.ant-layout {
  height: 100%;
  background: #f0f2f5;
}

/* header */
.ant-layout-header {
  background: #fff;
  padding: 0;
  box-shadow: rgba(0, 21, 41, 0.08) 0px 1px 4px;
  z-index: 1;
}
/* menu */
.ant-layout-sider {
  background: #001529;
  box-shadow: 2px 0 6px rgba(0,21,41,.35);
  z-index: 9;
}
/* content */
.ant-layout-content {
  min-height: auto;
  position: relative;
}

.ant-layout-footer {
  padding: 0;
  background: none;
}

.quick-switch-true,
.quick-switch-false {
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  background: #1890ff;
  border-radius: 4px 0 0 4px;
  cursor: pointer;
  i {
    color: rgb(255, 255, 255);
    font-size: 20px;
  }
}
.quick-switch-true {
  position: fixed;
  top: 300px;
  right: 0;
  z-index: 9;
}
.quick-switch-false {
  position: absolute;
  top: 300px;
  left: 0;
  margin-left: -48px;
}