<ea-query-simp title="预约设置" 
  [node]="[{ label: '时段', type: 'between', key: 'time', valueKey: ['startHour', 'endHour'], placeholder: ['请输入开始小时', '请输入结束小时'] }]"
  (onSubmit)="getData($event)"></ea-query-simp>

<nz-table 
  #basicTable nzBordered [nzShowPagination]="false" [nzPageSize]="999" 
  [nzData]="dataSet" [nzLoading]="loading">
  <thead>
    <tr>
      <th rowspan="2">时间段</th>
      <th colspan="2" *ngFor="let head of thead">
        {{ head.date }}<br/>
        <button nz-button nzSize="small" nzType="primary" nz-popconfirm nzTitle="确定此日休息吗?" (nzOnConfirm)="rest(head.date)">休息</button>
      </th>
    </tr>
    <tr>
      <th colspan="2" *ngFor="let head of thead">{{ head.week }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.key }}</td>
      <ng-container *ngFor="let td of thead; let idx = index">
        <td>{{ data.value.baby['day' + idx] }}</td>
        <td>{{ data.value.child['day' + idx] }}</td>
      </ng-container>
    </tr>
  </tbody>
</nz-table>