:host ::ng-deep {
  nz-table { 
    white-space:nowrap;
    .ant-table-body {
      overflow-x: auto;
    }
  }
}
input[readonly] {
  background-color: #f5f5f5 !important;
  opacity: 1 !important;
  cursor: not-allowed !important;
  color: rgba(0,0,0,.25) !important;
  &:hover {
    box-shadow: none !important;
    border: 1px solid #d9d9d9 !important;
  }
}